[Unit]
Description=VPNNaruzhu Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/VPNNaruzhu/bin/VPNNaruzhu-service

[Install]
WantedBy=multi-user.target
