[Unit]
Description=Sotka Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/Sotka/service/Sotka-service.sh
Environment=LD_LIBRARY_PATH=/opt/Sotka/client/lib

[Install]
WantedBy=multi-user.target
